<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ldglite</string>
	<key>CFBundleIconFile</key>
	<string>ldglite.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.sf.ldglite</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ldglite</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>LdGL</string>
	<key>CFBundleVersion</key>
	<string>1.2.4</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
		  	<key>CFBundleTypeExtensions</key>
			<array>
			  <string>ldr</string>
			  <string>dat</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ldr.icns</string>
			<key>CFBundleTypeName</key>
			<string>LDraw file</string>
			<key>CFBundleTypeOSTypes</key>		<array><string>LDR </string></array>
			<key>NSDocumentClass</key>      
			<string>BrowserDocument</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.ldraw.ldr</string>
				<string>dk.hassings.ldr</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
		<dict>
		  	<key>CFBundleTypeExtensions</key>
			<array>
			  <string>mpd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mpd.icns</string>
			<key>CFBundleTypeName</key>
			<string>LDraw mpd file</string>
			<key>CFBundleTypeOSTypes</key>		<array><string>MPD </string></array>
			<key>NSDocumentClass</key>      
			<string>BrowserDocument</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.ldraw.mpd</string>
				<string>dk.hassings.mpd</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.ldraw.ldr</string>
				<string>dk.hassings.ldr</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LDraw file</string>
			<key>UTTypeIconFile</key>
			<string>ldr.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.ldraw.ldr</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.ldraw.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ldr</string>
					<string>dat</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-ldraw</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.ldraw.mpd</string>
				<string>dk.hassings.mpd</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LDraw mpd file</string>
			<key>UTTypeIconFile</key>
			<string>mpd.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.ldraw.mpd</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.ldraw.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpd</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-multi-part-ldraw</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
