#!/usr/bin/make -f
DH_VERBOSE=1
PREFIX := /usr
ENABLE_OFFSCREEN_RENDERING := Yes

%:
	dh $@

override_dh_auto_clean:
	make -f makefile.linux clean || true

override_dh_auto_build:
	make -f makefile.linux ldglite

override_dh_auto_install:
	mv $(CURDIR)/debian/ldglite/usr/bin/ldglite $(CURDIR)/debian/ldglite/usr/bin/ldglite.bin
	ln -s /usr/lib/ldraw-wrapper $(CURDIR)/debian/ldglite/usr/bin/ldglite
	mv $(CURDIR)/debian/ldglite/usr/bin/l3glite $(CURDIR)/debian/ldglite/usr/bin/l3glite.bin
	ln -s /usr/lib/ldraw-wrapper $(CURDIR)/debian/ldglite/usr/bin/l3glite
	mv $(CURDIR)/debian/ldglite/usr/bin/l3gledit $(CURDIR)/debian/ldglite/usr/bin/l3gledit.bin
	ln -s /usr/lib/ldraw-wrapper $(CURDIR)/debian/ldglite/usr/bin/l3gledit
